.food-item{
    display: flex;
    margin-top: 10%;
}
.food-item img{

    width: 55%;
}
.food-text{
    margin-left: 220px;
    text-align: left;
    width: 300px;
}
.added-button{
    text-align: right;
    margin-top: -40px;
    margin-right: 70px;
}
.added-button input{
    background: none;
    border: none;
    width: 20px;
    text-align: center;
}
